In [36]:
import os
import requests
import pandas as pd
from tqdm import tqdm
import multiprocessing

df = pd.read_csv('celebs.csv')

df = df[df['img_link'] != 'https://m.media-amazon.com/images/S/sash/9FayPGLPcrscMjU.png']

### Creating Images Folder

In [3]:
!mkdir Images

### Defined Downloader function to download the images

In [34]:
def download(start,stop):

  for i in tqdm(df.values [start:stop] ):
      link = i[-1]
      img_path = 'Images/' + i[0] + '.jpg'
      
      res = requests.get(link)
      
      fd = open(img_path, 'wb')
      fd.write(res.content)
      fd.close()

### Defined processes to download the images in parallel

In [35]:
p1 = multiprocessing.Process(target = download, args = (0,10000))
p2 = multiprocessing.Process(target = download, args = (10000,20000))
p3 = multiprocessing.Process(target = download, args = (20000,30000))
p4 = multiprocessing.Process(target = download, args = (30000,40000))
p5 = multiprocessing.Process(target = download, args = (40000,50000))
p6 = multiprocessing.Process(target = download, args = (50000,60000))
p7 = multiprocessing.Process(target = download, args = (60000,70000))
p8 = multiprocessing.Process(target = download, args = (70000,80000))
p9 = multiprocessing.Process(target = download, args = (80000,83666))

p1.start()
p2.start()
p3.start()
p4.start()
p5.start()
p6.start()
p7.start()
p8.start()
p9.start()

p1.join()
p2.join()
p3.join()
p4.join()
p5.join()
p6.join()
p7.join()
p8.join()
p9.join()

100%|██████████| 3666/3666 [13:26<00:00,  4.55it/s]
100%|██████████| 10000/10000 [21:48<00:00,  7.64it/s]
100%|██████████| 10000/10000 [26:23<00:00,  6.32it/s]
100%|██████████| 10000/10000 [26:46<00:00,  6.22it/s]
100%|██████████| 10000/10000 [28:00<00:00,  5.95it/s]
100%|██████████| 10000/10000 [28:13<00:00,  5.90it/s]
100%|██████████| 10000/10000 [28:50<00:00,  5.78it/s]
100%|██████████| 10000/10000 [33:23<00:00,  4.99it/s]
100%|██████████| 10000/10000 [33:33<00:00,  4.97it/s]

### Compressing the folder to download easily

In [39]:
from shutil import make_archive

make_archive('Images','zip')

#### Adding file_path column

In [50]:
df['file_path'] = 'Images/' + df['id'] + '.jpg'

In [51]:
df.head()

,id,name,profession,known_for_id,known_for,img_link,file_path
0,nm0002337,Roger Christian,Set Decorator,tt0076759,Star Wars,https://m.media-amazon.com/images/M/MV5BMTYwMD...,Images/nm0002337.jpg
3,nm3914730,Gabrielle Rosenberg,Set Decorator,tt15038118,Blue's Big City Adventure,https://m.media-amazon.com/images/M/MV5BNGM0MT...,Images/nm3914730.jpg
4,nm0896580,Shane Vieau,Set Decorator,tt7740496,Nightmare Alley,https://m.media-amazon.com/images/M/MV5BMTc4N2...,Images/nm0896580.jpg
10,nm4722060,Zsuzsanna Sipos,Set Decorator,tt1160419,Dune: Part One,https://m.media-amazon.com/images/M/MV5BMGFkYz...,Images/nm4722060.jpg
13,nm0354101,Nancy Haigh,Set Decorator,tt7131622,Once Upon a Time in... Hollywood,https://m.media-amazon.com/images/M/MV5BNDg5YW...,Images/nm0354101.jpg

In [53]:
del df['img_link']
del df['id']
del df['known_for_id']

df.head()

                   name     profession known_for_id             file_path
0       Roger Christian  Set Decorator    tt0076759  Images/nm0002337.jpg
3   Gabrielle Rosenberg  Set Decorator   tt15038118  Images/nm3914730.jpg
4           Shane Vieau  Set Decorator    tt7740496  Images/nm0896580.jpg
10      Zsuzsanna Sipos  Set Decorator    tt1160419  Images/nm4722060.jpg
13          Nancy Haigh  Set Decorator    tt7131622  Images/nm0354101.jpg

In [52]:
df.to_csv('celebs.csv', index = False)